name: "Nix"
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v13
      with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.5pre20211015_130284b/install
          extra_nix_config: |
            experimental-features = nix-command flakes
    - uses: cachix/cachix-action@v10
      with:
        name: xe
    - run: |
        nix build .#docker --impure
        # the shell expansion will identify the build, and, because we know
        # we're guaranteed to only have one file in result/docker due to the
        nix build .#docker
        docker load -i result/docker/*
        docker run --rm xena/pahi:latest /bin/testrunner
        docker run --rm -w /wasm xena/pahi:latest /tests/bench.sh
